<!--
  Generated template for the ClassifyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Clasificar Comentario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>          
    <ion-item>
        <div class="container" text-wrap>            
            <h2><b>{{ post.post_content}}</b></h2>
            <p>{{ post.comment_text}}</p>                          
        </div>                
    </ion-item>      
    <ion-item>
      <ion-label>Categorias</ion-label>
      <ion-select [(ngModel)]="gender">        
        <ion-option value="f">Reposteria</ion-option>
        <ion-option value="m">Abogado</ion-option>
        <ion-option value="p">Peluquero</ion-option>
        <ion-option value="a">Alquiler de sillas</ion-option>         
      </ion-select>
      
                
    </ion-item>
    <ion-toolbar position="bottom">
      <ion-input  placeholder="Enter Classification" #mbody clearInput></ion-input>
      <ion-buttons end>
        <button ion-button icon-only class="form-control" (click)="classifyPost(mbody.value); mbody.value='' ">
          <ion-icon name="send"></ion-icon>
        </button>      
      </ion-buttons>
    </ion-toolbar>
  
</ion-content>


