<ion-header>
  <ion-navbar>
    <ion-title>
      Consultar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>  
  <h1 style="text-align: center; padding-top: 20px;"><b>¡Bienvenido!</b></h1>
  <h3 style="text-align: center; padding-bottom: 20px;">¿Qué desea buscar?</h3>
  <ion-toolbar position="bottom">
    <ion-input  placeholder="Buscar..." #mbody clearInput></ion-input>
    <ion-buttons end>
      <button ion-button icon-only class="form-control" (click)="search(mbody.value); mbody.value='' ">
        <ion-icon name="search"></ion-icon>
      </button>      
    </ion-buttons>
  </ion-toolbar>
</ion-content>
