<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
    
  <div style="text-align:center; padding-top:20px; padding-bottom:20px; ">
    <h1>Welcome to</h1>
    <h1><b>AS App</b></h1>
  </div>

    
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" clearInput></ion-input>
      </ion-item>
          
    
    <div style="padding-top:20px; padding-bottom:30px;">
    <button ion-button full color="secondary" (click)="login()">Login</button>
    </div>
    <!-- <button ion-button full (click)="navCtrl.push('RegisterPage')">Register</button> -->
        

</ion-content>
