<ion-tabs>
  <ion-tab [root]="tab2Root" tabTitle="Consultar" tabIcon="search"></ion-tab>  
  <ion-tab [root]="tab1Root" tabTitle="Por Clasificar" tabIcon="information-circle"></ion-tab>  
</ion-tabs>
