<ion-header>
  <ion-navbar>
    <ion-title>
      Clasificados
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Aun no hay</ion-list-header>    
  </ion-list>
</ion-content>
