<ion-header>
  <ion-navbar>
    <ion-title>Listados</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Listado de posts y comentarios</h2>
  <ion-list>
    
      <ion-item *ngFor="let item of posts"   >          
        <div class="container" (click)="Classify(item)" text-wrap>
        <h2><b>{{ item.post_content}}</b></h2>
        <p>{{ item.comment_text}}</p>                            
        </div>
      </ion-item>  
    
  </ion-list>
</ion-content>
