<!--
  Generated template for the ViewResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>  
</ion-header>

<ion-content padding>
    <ion-toolbar>
      <ion-input  placeholder="Buscar..." #mbody clearInput></ion-input>
      <ion-buttons end>
        <button ion-button icon-only class="form-control" (click)="search(mbody.value); mbody.value='' ">
          <ion-icon name="search"></ion-icon>
        </button>      
      </ion-buttons>
    </ion-toolbar>    
    
  <h2>Resultados: {{ data }}
    
  </h2>
  <!--
  <ion-buttons end>
    <button ion-button icon-only class="form-control" (click)="showFilter2()">
      <ion-icon name="funnel"></ion-icon>
    </button>      
  </ion-buttons>
-->
  <ion-list>
    
      <ion-item *ngFor="let item of results">          
        <div class="container" text-wrap (click)="ViewInfo(item)"> 
          <h3 class='ellipsis'><b>{{ item.post_content }}</b></h3>   
          <p>{{ item.comment_text}}</p>   
          <ion-buttons end>
              <p><ion-icon name="thumbs-up"></ion-icon> {{ item.comment_likes}}</p>                            
          </ion-buttons>   
        </div>
      </ion-item>  
    
  </ion-list>
</ion-content>